* {
    font-family: Source Serif Pro;
}

body {
    width: fit-content;
    margin: 0 auto;
}

.nav-custom-spacing {
    margin-right: 1.25rem;
}

.Recources-custom-spacing {
    margin-right: 11rem;
}

.custom-postion {
    margin-right: 0rem;
}

.stat-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
}