* {
    font-family: Source Serif Pro;
}

body {
    background-color: #6ffc7b;
}

.mini-image {
    width: 7rem;
    height: 7rem;
    border: 2px solid #0000005d;
    border-radius: 0.5rem;


}

.home-image {
    margin-right: 1rem;
}

.nav-custom-spacing {
    margin-right: 1.25rem;
}

.Recources-custom-spacing {
    margin-right: 1rem;
}

.custom-postion {
    margin-right: 0rem;
}

.stat-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
}

.solar-info-box {
    border-top-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    margin: 1rem;
    margin-bottom: 0rem;

}

.Ai_title {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .ai-advice-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }