<!DOCTYPE html>
<html lang="en">
  {% extends "index.html" %} {% block title %}test{% endblock %} {% block
  content %}
  <body>
    <div class="container" style="margin-bottom: 10px; text-align: center">
      <h1>Session placed Successfully!</h1>
      <p>Thank you for booking. Your session has been booked successfully.</p>
      <p>
        if you want to go to the main page
        <a href="/home" style="color: blueviolet">click here</a>
      </p>
    </div>
    <div class="container" style="margin: auto; text-align: center">
      <h3>
        <p>if you want to go to provide customer feedback</p>
        <br>
        <iframe width="640px" height="150px" click here
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=CdDIyR-2JUOW3P06doIHq_QNFVgP94xDloBOCNpImkBUNDEyT0NaTTVYRU9XMUVEQzkwRDZNVlVLTC4u&embed=true"
            frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh"
            allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
        <p>you want to go to provide developer feedback</p>
        <br>

        <iframe width="640px" height="150px" click here
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=CdDIyR-2JUOW3P06doIHq_QNFVgP94xDloBOCNpImkBUMVNZTkFOUFhXU1VYUEhISVpDQk1WV1pQUi4u&embed=true"
            frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh"
            allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    </h3>
    </div>
  </body>
  {% endblock %}
</html>
