<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<Body>
<h1 class="Calculation-title" style="color: #08392E; text-align: center; font-family: "Source Serif Pro";font-size: 96px;font-style: normal;font-weight: 400;line-height: normal;text-decoration-line: underline;text-decoration-style: solid;text-decoration-skip-ink: auto;text-decoration-thickness: auto;text-underline-offset: auto;text-underline-position: from-font;text-transform: capitalize;">Choose a Calculation</h1>
{% endblock%}
</Body>