<!DOCTYPE html>
<html lang="en">
  {% extends 'index.html' %}
  {% block title %}
    energy calculation
  {% endblock %}

  {% block content %}
    <div class="container bg-success text-white text-center py-4" style="align-content: center;height: auto; background: linear-gradient(0deg, rgba(0, 138, 0, 0.5) 0%, rgba(1, 238, 184, 0.5) 100%);">
      <div class="title" style="margin-bottom: 9%;">
        <p style="font-size: 50px;">Carbon Calculation</p>
        <p style="font-size: 30px;">this is a long form, please fill in all the fields</p>
        <h2>if you anwsered no to any question you can skip the following questions that relate</h2>
      </div>
      <!-- building questions -->
      <form method="POST" action="/calculations-carbon" class="needs-validation" style="font-size: 50px;" novalidate>
        <div class="mb-3">
          <label for="home-size" class="form-label">how large is your home or office in ft:</label>
          <input type="number" min="0"  id="home-size" name="home-size" class="form-control" required />
        </div>

        <div class="mb-3 d-none" id="step-2">
          <label for="heating-type" class="form-label">how do you heat your home or office:</label>
          <select id="heating-type" name="heating-type" class="form-select" required>
            <option value="Gas">Gas</option>
            <option value="Oil">Oil</option>
            <option value="Wood">Wood</option>
          </select>
        </div>

        <!-- appliances -->
        <div class="mb-3 d-none" id="step-3">
          <label for="appliances" class="form-label">How many appliances does your home or office have?</label>
          <input type="number" min="0"  id="appliances" name="appliances" class="form-control" required />
        </div>

        <div class="mb-3 d-none" id="step-4">
          <label for="laptops" class="form-label">How many laptops does your home or office have?</label>
          <input type="number" min="0"  id="laptops" name="laptops" class="form-control" required />
        </div>

        <div class="mb-3 d-none" id="step-5">
          <label for="desktops" class="form-label">How many desktops does your home or office have?</label>
          <input type="number" min="0"  id="desktops" name="desktops" class="form-control" required />
        </div>
        <!-- car -->
        <div class="mb-3 d-none" id="step-6">
          <label for="car" class="form-label">Do you have a car?</label>
          <select id="car" name="car" class="form-select" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <div class="mb-3 d-none" id="step-7">
          <label for="travel-over-5" class="form-label">When using your car, how often do you travel over 5 miles in a month?</label>
          <input type="number" min="0"  id="travel-over-5" name="travel-over-5" class="form-control" required />
        </div>

        <div class="mb-3 d-none" id="step-8">
          <label for="travel-over-10" class="form-label">When using your car, how often do you travel over 10 miles in a month?</label>
          <input type="number" min="0"  id="travel-over-10" name="travel-over-10" class="form-control" required />
        </div>
        <!-- train -->
        <div class="mb-3 d-none" id="step-9">
          <label for="train" class="form-label">Do you travel by train?</label>
          <select id="train" name="train" class="form-select" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <div class="mb-3 d-none" id="step-10">
          <label for="train-frequency" class="form-label">How often do you travel by train in a month?</label>
          <input type="number" min="0"  id="train-frequency" name="train-frequency" class="form-control" required />
        </div>

        <div class="mb-3 d-none" id="step-11">
          <label for="train-duration" class="form-label">Are your train journeys over an hour on average?</label>
          <select id="train-duration" name="train-duration" class="form-select" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>


        <!-- bus -->
        <div class="mb-3 d-none" id="step-13">
          <label for="bus" class="form-label">Do you travel by bus?</label>
          <select id="bus" name="bus" class="form-select" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <div class="mb-3 d-none" id="step-14">
          <label for="bus-frequency" class="form-label">How often do you travel by bus in a month?</label>
          <input type="number" min="0"  id="bus-frequency" name="bus-frequency" class="form-control" required />
        </div>

        <div class="mb-3 d-none" id="step-15">
          <label for="bus-duration" class="form-label">Are your bus journeys over an hour on average?</label>
          <select id="bus-duration" name="bus-duration" class="form-select" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>



        <!-- forward and back buttons -->
        <button type="button" class="btn btn-secondary btn-lg d-none" id="back-button">Back</button>
        <button type="button" class="btn btn-primary btn-lg" id="next-button">Next</button>
        <button type="submit" class="btn btn-success btn-lg d-none" id="submit-button">Calculate</button>
      </form>
    </div>

    <!-- forward and back button function -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const steps = Array.from(document.querySelectorAll('form .mb-3'))
        const nextButton = document.getElementById('next-button')
        const backButton = document.getElementById('back-button')
        const submitButton = document.getElementById('submit-button')
        let currentStep = 0
      
        function updateButtons() {
          backButton.classList.toggle('d-none', currentStep === 0)
          nextButton.classList.toggle('d-none', currentStep === steps.length - 1)
          submitButton.classList.toggle('d-none', currentStep !== steps.length - 1)
        }
      
        nextButton.addEventListener('click', function () {
          if (currentStep < steps.length - 1) {
            steps[currentStep].classList.add('d-none')
            currentStep++
            steps[currentStep].classList.remove('d-none')
            updateButtons()
          }
        })
      
        backButton.addEventListener('click', function () {
          if (currentStep > 0) {
            steps[currentStep].classList.add('d-none')
            currentStep--
            steps[currentStep].classList.remove('d-none')
            updateButtons()
          }
        })
      
        updateButtons()
      })
    </script>
    <!-- validation-->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        if (errorMessage) {
          alert("Please fill in all the fields");
        }
    
        // Add validation for incorrect values
        const form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
          const inputs = form.querySelectorAll('input, select');
          let isValid = true;
    
          inputs.forEach(input => {
            if (input.type === 'number' && input.value < 0) {
              isValid = false;
              alert(`Invalid value in field: ${input.name}. Please enter a non-negative number.`);
            }
          });
    
          if (!isValid) {
            event.preventDefault(); // Prevent form submission
          }
        });
      });
    </script>
  {% endblock %}
</html>
