<div style="width: 100%; height: 100%; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 0.28px; display: inline-flex">
    <div style="width: 1432.63px; justify-content: flex-start; align-items: center; gap: 15.63px; display: inline-flex">
        <img style="width: 48.55px; height: 47.22px" src="https://placehold.co/49x47" />
        <div style="width: 239.37px; height: 103.73px; background: black"></div>
        <div style="flex: 1 1 0; justify-content: flex-start; align-items: center; display: flex">
            <div style="width: 167px; height: 44px; color: black; font-size: 36px; font-family: Source Serif Pro; font-weight: 400; text-transform: capitalize; word-wrap: break-word">recources</div>
            <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
                <div style="width: 8px; height: 4px; left: 8px; top: 10px; position: absolute; outline: 2px black solid; outline-offset: -1px"></div>
            </div>
            <div style="width: 167px; height: 44px; color: black; font-size: 36px; font-family: Source Serif Pro; font-weight: 400; text-transform: capitalize; word-wrap: break-word">solutions</div>
            <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
                <div style="width: 8px; height: 4px; left: 8px; top: 10px; position: absolute; outline: 2px black solid; outline-offset: -1px"></div>
            </div>
            <div style="width: 113.16px; height: 34.74px; background: black"></div>
            <div style="width: 137px; height: 44px; color: black; font-size: 36px; font-family: Source Serif Pro; font-weight: 400; text-transform: capitalize; word-wrap: break-word">Booking</div>
            <div style="width: 109px; height: 44px; color: black; font-size: 36px; font-family: Source Serif Pro; font-weight: 400; text-transform: capitalize; word-wrap: break-word">login</div>
            <div style="width: 80px; height: 80px; position: relative; overflow: hidden">
                <div style="width: 66.67px; height: 54.47px; left: 6.67px; top: 12.19px; position: absolute; outline: 2px black solid; outline-offset: -1px"></div>
            </div>
            <div style="width: 222.63px; height: 54.34px; background: #01EEB8; border-radius: 15px"></div>
            <div style="width: 178.87px; height: 23.81px; background: black"></div>
        </div>
    </div>
    <div style="align-self: stretch; height: 0px; outline: 1px rgba(0, 0, 0, 0.50) solid; outline-offset: -0.50px"></div>
</div>