<!DOCTYPE html>
<head>
  <title>index</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
<body>
  <!-- title -->
  <div class="nav" style="display: flex; align-items: center"></div>
  <div class="nav-title">
    <img
      src="/static/logo.svg"
      alt="logo"
      style="width: 239px; height: 112px; display: flex; align-items: center"
    />
  </div>
  <!-- nav -->
  <nav class="nav">
    <div class="nav-left"></div>
    <a href="/">Home</a>
    <a href="/a">About</a>
    <a href="/"></a>
    <a href="/"></a>
    <a href="/"></a>
    <a href="/"></a>
    <a href="/Sign-Up" style="float: right; font-size: 20px">Sign Up</a>
    <a href="/login" style="float: right; font-size: 20px">Login</a>
    <a href="/profile" style="float: right; font-size: 20px">Profile</a>
  </nav>

  <!-- intro body -->
  <div class="intro-body">
    <div class="highlited-text-home">
      <div class="highlited-text-background"></div>
      <div class="highlited-text">key point</div>

      <div class="intro-text">
        <p>here insert text</p>
      </div>
    </div>
  </div>
</body>
<!-- footer -->
<footer>
  <div class="footer-container">
    <div class="top-bar"></div>
    <div class="background"></div>
    <div class="shadow-box"></div>
    <div class="gradient-box"></div>
    <div class="subscribe-text">Subscribe to our Newsletters</div>
    <div class="email-box"></div>
    <div class="email-placeholder">Enter your email</div>
    <div class="subscribe-button">
      <div class="button-background"></div>
      <div class="button-text">Subscribe Now</div>
    </div>
    <div class="footer-text">© 2025 Rosa tech. All rights reserved</div>
    <div class="footer-links">Terms of Service Privacy Policy</div>
    <div class="footer-line"></div>
    <div class="footer-menu">
      <div class="menu-item">Discover</div>
      <div class="menu-item">About us</div>
      <div class="menu-item">Explore</div>
      <div class="menu-item">Books</div>
    </div>
  </div>
</footer>
