<!DOCTYPE html>
<head>
  <title>index</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>



<body>
 <!-- title -->
<div class="nav" style="display: flex; align-items: center;"></div>
    <div class="nav-title">
    <img src="/static/logo.svg" alt="logo" style="width: 239px; height: 112px; display: flex; align-items: center;"/>

    <!-- nav -->
    <div class="left-nav"></div>
    <nav style="display: flex; align-items: center; width: 955px; height: 80px; font-size: 60px; margin-bottom: 30px;">
        <a href="/" style="text-decoration: none;">
        <img src="/static/home.png" alt="home logo" style="width: 80px; height: 80px; vertical-align: middle;"> 
        </a>
        <a class="nav-links" href="/booking" >booking</a>
        <a class="nav-links" href="/contact" >pricing</a>
        <a class="nav-links" href="/" >solutions</a>
        <a class="nav-links" href="/" >recources</a>




        <a class="nav-links" href="/login" >login</a>
        <!-- demo booking link -->
        <div class="highlited-book-a-demo">
            <div class="book-a-demo-background">
            <a class="book-a-demo" href="/booking-demo" >book a demo</a>
            </div>
        </div>


    </nav>
</div>


<!-- intro body -->
  <div class="intro-body">
    <div class="highlited-text-home">
      <div class="highlited-text-background"></div>
      <div class="highlited-text">key point</div>

      <div class="intro-text">
        <p>here insert text</p>
      </div>
    </div>
  </div>
</body>
<!-- footer -->
<footer>
  <div class="footer">
    <div class="footer-seperator"></div>
    
    <div class="footer-content">

      <div class="footer-text">
        <p>here insert text</p>
      </div>
      
      <!-- footer-newsletter -->
        <div class="footer-newsletter-background"></div>
        <div class="footer-newsletter-text">newsletter</div>

      <div class="footer-links">
        <a href="/contact" >contact</a>
        <a href="/" >about</a>
        <a href="/" >terms</a>
        <a href="/" >privacy</a>
      </div>
    </div>