<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<body>
  
  <!-- form-->
  <div class="register-container" style="text-align: center;">
    <form method="post" action="/register">
        <h1>login</h1>
        <h2>welcome to the login page please input your details below</h2>
        
        <label for="username" class="input-title">Username</label>
        <input type="text" name="username" id="username"  class="input-box" required>
        
        <label for="email" class="input-title">Email</label>
        <input type="text" name="email" id="email" class="input-box" required>
        
        <label for="password" class="input-title">Password</label>
        <input type="password" name="password" id="password" class="input-box" required>
        
        <button type="submit" value="login" class ="submit-button">Register</button>
        <br>
        <br>
        <a href="/register" class="register-link" style="color: #EE5666; font-size: xxxlarge">Don't have an account? Register here</a>
    </form>
  </div>

  {% endblock %}
</body>