<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<!-- nav bar -->
<body>
<!-- form-->
<link rel="stylesheet" type="text/css" href="/static/login-register.css" />



  <div class="register-container" style="text-align: center ">
    <form method="post" action="/register">
      <h1>Registration</h1>
      <h2>welcom to the Registration page please input your details bellow</h2>
      <label for="username" class="input-title">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="input-box"
        maxlength="15"
        minlength="3"
        oninput="checkUsername(this)"
        required
      />
      <div id="username-error" style="color: red; display: none;">Username cannot contain 'admin' or 'test'</div>


      <!-- email -->
      <label for="email" class="input-title">email</label>
      <input
        type="text"
        name="email"
        id="email"
        class="input-box"
        for="email"
        class="input-title"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        title="Please enter a valid email address with @ and .com"
        minlength="7"
        maxlength="50"
        required
      />
      <!-- password -->
      <label for="password" class="input-title">password</label>
      <input
      type="password"
      name="password"
      id="password"
      class="input-box"
      maxlength="20"
      minlength="8"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^*()_\-+=<>?.,]).{8,}"
      title="Password must contain at least 8 characters, including uppercase, lowercase, digits, and special characters"
      required
    />

      <label for="password-confirm" class="input-title">confirm-password</label>
      <input
        type="password"
        name="password-confirm"
        id="password-confirm"
        class="input-box"
        required
      />

      <button type="submit" value="register" class="submit-button">
        Register
      </button>
    </form>
  </div>
  <!-- may want ot add mor band terms-->
  <script>
    function checkUsername(input) {
      const forbiddenPatterns = /(admin|test)/i;
      const errorDiv = document.getElementById('username-error');
      const submitButton = document.querySelector('button[type="submit"]');
      if (forbiddenPatterns.test(input.value)) {
        errorDiv.style.display = 'block';
        submitButton.disabled = true;
      } else {
        errorDiv.style.display = 'none';
        submitButton.disabled = false;
      }
    }
  </script>
{% endblock %}
</body>