<!DOCTYPE html>
<html lang="en">
  {% extends 'index.html' %}
  {% block title %}
    unfinished
  {% endblock %}
  {% block content %}
    <body>
      <div class="container text-center my-5" style="font-size: 2.5rem;">
            <h1 style="font-size: 3rem; font-weight: semi-bold;">Page Under Development</h1>
            <p>Sorry, the page you are looking for is still under development.</p>
            <p> If you want to go to the main page,<a href="/" class="text-primary">click here</a>
            </p>
      </div>
    </body>
  {% endblock %}
</html>
